<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/login.css" type="text/css"/>
    <title>Users</title>
</head>
<header th:replace="header.html"></header>
<main>

    <form action="#" th:action="@{/users}" th:object="${user}" method="post">
        <p><label for="name">Name:</label> <input id="name" type="text" th:field="*{name}" /></p>
        <p><label for="password">Password:</label> <input id="password" type="password" th:field="*{password}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

</main>
</html>